@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-latin-regular.eot");
  src: local(""),
    url("../fonts/inter-v3-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/inter-v3-latin-regular.woff2") format("woff2"),
    url("../fonts/inter-v3-latin-regular.woff") format("woff"),
    url("../fonts/inter-v3-latin-regular.ttf") format("truetype"),
    url("../fonts/inter-v3-latin-regular.svg#Inter") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v3-latin-600.eot");
  src: local(""),
    url("../fonts/inter-v3-latin-600.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v3-latin-600.woff2") format("woff2"),
    url("../fonts/inter-v3-latin-600.woff") format("woff"),
    url("../fonts/inter-v3-latin-600.ttf") format("truetype"),
    url("../fonts/inter-v3-latin-600.svg#Inter") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v3-latin-800.eot");
  src: local(""),
    url("../fonts/inter-v3-latin-800.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v3-latin-800.woff2") format("woff2"),
    url("../fonts/inter-v3-latin-800.woff") format("woff"),
    url("../fonts/inter-v3-latin-800.ttf") format("truetype"),
    url("../fonts/inter-v3-latin-800.svg#Inter") format("svg");
}
