body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #1b1b1b;
}

#root {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  color: #3a76f0;
  font-weight: 600;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

p {
  line-height: 1.5em;
  font-size: 0.8em;
  padding: 0 2em;
  z-index: 1;
  position: relative;
}

.image,
#picture {
  width: 80vw;
  height: 80vw;
  max-width: 20em;
  max-height: 20em;
}

.image {
  margin: 1em;
  display: block;
  position: relative;
}

#picture {
  border-radius: 20em;
  user-select: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);

  text {
    pointer-events: all;
    cursor: pointer;
  }
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.upload {
  &,
  .camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &,
  input {
    width: 13em;
    height: 13em;
    cursor: pointer;
  }

  input {
    opacity: 0;
  }

  .camera {
    width: 3em;
    height: 3em;
    opacity: 0;
    transition: opacity 0.15s linear;
    pointer-events: none;
  }

  &:hover .camera,
  .camera.default {
    opacity: 0.8;
  }
}

.button {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  bottom: 0;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.switch {
  left: 0;
  background: var(--color-background);
  border: 2px solid var(--color-accent);

  &:before {
    content: "";
    display: block;
    background: var(--color-accent);
    position: absolute;
    border-radius: 100%;
    width: 1em;
    height: 1em;
  }
}

.download {
  right: 0;
  background: #fff;
  border: 2px solid #3a76f0;
}

.ad {
  max-width: 90vw;
  max-height: calc((5 / 39) * 90vw);
}

.github-corner {
  svg {
    transition: color 0.1s linear;
  }
  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    svg {
      color: black !important;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
